<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<system.webServer>
		<aspNetCore processPath="dotnet"
			arguments=".\AuthApi.dll"
			stdoutLogEnabled="true"
			stdoutLogFile=".\logs\stdout">
		</aspNetCore>
		<cors enabled="true">
			<add origin="http://localhost:4200" allowCredentials="true" maxAge="600">
				<allowMethods>
					<add method="GET"/>
					<add method="POST"/>
				</allowMethods>
				<allowHeaders>
					<add header="Content-Type"/>
					<add header="Authorization"/>
				</allowHeaders>
				<exposeHeaders>
					<add header="X-Custom-Header"/>
				</exposeHeaders>
			</add>
		</cors>
	</system.webServer>

</configuration>